#postForm {
    float: left;
    background-color: white;
    width: 23%;
    margin: 50px;
    text-align: center;
    border-radius: 15px;
}

#postForm form input {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    width: 70%;
}

#message {
    height: 100px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    width: 70%;
}

#textarea {
    height: 80px;
}
#postForm input[type="button"] {
    padding: 20px;
    margin: 30px;
    background-color: black;
    color: white;
    border-radius: 5px 20px 5px;
}