h2 {
    color: orange;
}

#notificationPanel {
    float: left;
    width: 55%;
    margin: 20px 0px;
    padding: 25px;
    border-radius: 10px;
	background-color: white;
}

.textTheme {
    color: orange;
    text-align: center;
}

