#postHeader {
	padding: 5px;
	background-color: black;
}

#postHeader ul {
	margin: 0px;
	padding: 3px;
	
	/* Add properties below */
	margin-left: 390px;
	
}

#postHeader ul li {
	margin-right: 20px;
	font-weight: bold;
	list-style: none; /* Gets rid of list bullet points */
    text-align: center;
    color:white;
	
	/* Add a proper display property: We want the stats to have 
	a height, but also appear side-by-side */

	display: inline-block;
		
}

