.roommatesImage {
    position: relative;
    width: 704px;
    height: 657px;
    left: 100px;
    top: 00px;
    flex: 0 0 65%;
    object-fit: cover;
    background: url(../../../assets/motto.jpg);
    filter: drop-shadow(0px 62px 54px rgba(0, 0, 0, 0.3));
    border-radius: 0px 57px 0px 0px;
}

.ContainerProp {
    position: relative;
    width: 1238px;
    height: 657px;
    left: 0px;
    top: 200px;
    display: flex;
}
.textHeader {
    position: relative;
    width: 300px;
    left: 300px;
    top: 50px;
    flex: 1;
    font-size: 400%;
    font-style: oblique;
}

.mottoText {
    flex: 1;
}

.textContent {
    position: relative;
    width: 400px;
    left: 300px;
    float: left;
    flex: 1;
    font-size: 150%;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.LearnMoreButton {
    position: relative;
    flex: 1;
    font-size: 150%;
    position: absolute;
    width: 209px;
    height: 70px;
    left: 1000px;
    float: left;
    top: 550px;
    background: black;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    color: white;
    border-radius: 5px 30px 5px 5px;
}
