#user_Card {
    height: 350px;
    width: 100%;
    background-color: white;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.1),
        0 5px 7px 0 rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin-right: 0px;
}

#user_CardContainer {
    width: fit-content;
    margin: 20px 10px;
}

#user_CardPhoto {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-top: 50px;
}

#user_CardInfo {
    float: left;
    width: 60%;
    margin-top: 50px;
    margin-left: 50px;
}

#user_CardName {
    font-size: 30px;
    color: black;
}

#user_CardLocation {
    font-size: 30px;
    color: black;
    font-weight: 400;
    color: #ffac12;
}

#user_CardContact {
    list-style: none;
    padding-left: 0px;
    font-size: 12px;
    color: grey;
}

.user_CardContactInfo {
    font-style: italic;
    padding: 1px;
    display: inline;
    font-weight: 200;
    color: black;
}

#userModify {
    margin-left:auto;
    margin-right:30px;
}

#userModify ul {
    margin-bottom: 15px;
    margin-right: 0px;
    float: right;
}

#userModify ul li {
    
    margin-bottom: 15px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 10%;
    display: inline-block;
    list-style: none; /* Gets rid of list bullet points */		
}

.cursorDesignUsers{
    cursor: pointer;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.1),
        0 5px 7px 0 rgba(0, 0, 0, 0.15);
    
    background-color: #f1f1f1;
}

.img-decoration-user {
    width: 20px;
}