#profile-style {
    color: orange !important;
    font-size: 12px;
}

#profileInfo {
    padding-left: 15px;
}

#postOwnerProfile {
    margin: 15px 20px 30px 20px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

#postOwnerProfile img {
    object-fit: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 25px;
}


#postOwnerProfile ul {
    margin: 0px;
    padding-top: 15px;
    text-align: left;
}

#postOwnerProfile ul li {
    margin: 0px;
    display: inline-block;
		
}


#postOwnerProfile ul li ul li {
    margin: 0px;
    padding: 0px;
	list-style: none; /* Gets rid of list bullet points */
    display: block;
		
}

