.reviewText {
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	letter-spacing: -0.603077px;

	color: #8d8d8d;
}

.personName {
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;

	letter-spacing: -0.376923px;
	color: #000000;
	float: top;
	margin-left: 40%;
	margin-bottom: 5px;
}

.personOccupation {
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;

	letter-spacing: -0.376923px;

	color: #979797;
	float: top;
	margin-left: 40%;
	margin-top: 5px;
}

.profilePhoto {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	float: left;
	/* flex: 0 0 65%; */
	object-fit: cover;

	/* border: 1px solid black; */
}

.reviewContainer {
	position: relative;
	height: 1200px;
	width: 350px;
	top: 500px;
	left: 100px;
	float: left;
	margin-right: 100px;
}

.userInfo {
	width: 300px;
}

.ReviewBox {
	margin-left: 300px;
}
