#editPost ul {
    margin-top: 10px;

}

#editPost ul li {
    margin: 7px;
    display: inline-block;
    list-style: none; /* Gets rid of list bullet points */		
}

.img-decoration {
    width: 15px;
}

#postInfo {
    padding: 10px;
    background-color: lightgreen;
    color: white;
    border-radius: 10px;
}