.adminUserPost {
    width: 300px;
    height: 380px;
    background-color: white;
    border-radius: 5%;
    margin-bottom: 30px;
    margin-right: 25px;
    margin-left: 10px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1),
        0 3px 5px 0 rgba(0, 0, 0, 0.15);
}

.postDesc {
    padding-left: 10px;
    padding-right: 10px;
}

.postTitleAdmin {
    margin-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.postPhoto {
    object-fit: cover;
    width: 300px;
    height: 240px;
    border-radius: 5%;
}

.price {
    margin-top: 0px;
    font-size: 16px;
}

.title {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: black !important;
}

#userPostModifyAdmin {
    margin-left: auto;
    margin-right: 30px;
}

#userPostModifyAdmin ul {
    margin-top: 7px;
    float: right;
}

#userPostModifyAdmin ul li {
    border-radius: 10%;
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 25px;
    display: inline-block;
    list-style: none; /* Gets rid of list bullet points */
}

.cursorDesignPosts {
    cursor: pointer;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.1),
        0 5px 7px 0 rgba(0, 0, 0, 0.15);

    background-color: #f1f1f1;
}
.reported {
    height: 5px;
}
.img-decoration {
    width: 20px;
}
