.userCard {
    height: 600px;
    width: 1000px;
    background-color: white;
}

.userCardContainer {
    width: fit-content;
    margin: 150px auto;
}

.userCardPhoto {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
}
